- content_for :title do
  Ajaleht

- if flash[:success]
  %div(class="alert alert-success alert-dismissable")
    %button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
      &times;
    %p
      %strong Muudatused on edukalt salvestatud!

- if @newspaper.errors.any?
  %div(class="alert alert-danger")
    %p
      %strong Muudatuste salvestamine ebaõnnestus!
      Palun paranda allpool välja toodud vead.

= form_for @newspaper, html: { :class => "form-horizontal", :role => "form" } do |f|
  %div(class="form-group")
    %label(class="col-sm-2 control-label")
      Id:
    %div(class="col-sm-4")
      %p(class="form-control-static")= @newspaper.id

  %div{ class: ["form-group", ("has-error" if @newspaper.errors[:name].any?) ] }
    = label_tag :name, 'Nimi:', class: 'col-sm-2 control-label'
    %div(class="col-sm-4")
      = f.text_field(:name, class: 'form-control', placeholder: 'Ajalehe nimi')
    -if @newspaper.errors[:name].any?
      %div(class="col-sm-6")
        - @newspaper.errors[:name].each do |message|
          %p(class="help-block")= message

  %div{ class: ["form-group", ("has-error" if @newspaper.errors[:founded_at_str].any?) ] }
    = label_tag :founded_at_str, 'Esimene väljaanne:', class: 'col-sm-2 control-label'
    %div(class="col-sm-4")
      = f.text_field(:founded_at_str, value: @newspaper.founded_at_value, class: 'form-control', placeholder: 'PP.KK.AAAA')
    -if @newspaper.errors[:founded_at_str].any?
      %div(class="col-sm-6")
        - @newspaper.errors[:founded_at_str].each do |message|
          %p(class="help-block")= message

  %div(class="form-group")
    = label_tag :description, 'Kirjeldus:', class: 'col-sm-2 control-label'
    %div(class="col-sm-4")
      = f.text_area :description, class: 'form-control', rows: 3

  %div(class="form-group")
    %div(class="col-sm-offset-2 col-sm-4")
      = f.submit 'Salvesta', class: 'btn btn-default'
